@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "./variables";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              ($position-values)
            ),
        )
      ),
    "bottom":
      map-merge(
        map-get($utilities, "bottom"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "bottom"), "values"),
              ($position-values)
            ),
        )
      ),
    "top":
      map-merge(
        map-get($utilities, "top"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "top"), "values"),
              ($position-values)
            ),
        )
      ),
    "start":
      map-merge(
        map-get($utilities, "start"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "start"), "values"),
              ($position-values)
            ),
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";
