@import './_variables';

#card {
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 0px 21px 21px 21px;

    #card-search-input {
        display: block;
        margin: 0 auto;
        width: 90%;
        border: 0;
        border-bottom: 1px solid white;
        background-color: rgba(0,0,0,0); 
        color: inherit; 
        font-family: inherit;
        font-weight: bolder;
        margin-bottom: 15px;

        &:focus { outline: none !important; }
    }

    #card-header-container,
    #card-body,
    #card-footer {
        padding: 0 25px 15px 25px;
    }

    #card-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        #card-header {
            font-weight: unset;
            margin-top: unset;
            margin-bottom: unset;

            &::after {
                content: "";
                margin-top: -15px;
                display: block;
                border-bottom: 0.3px solid white;
                width: 35%;
            }
        }
        
        #status-container {   
            font-size: 13px;
            font-weight: bold;
            #status-selection {
                background-image: none;
                border: 0;
                cursor: pointer;
                outline: none;
                background-color: transparent;
                color: white;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                &:hover { text-decoration: underline; }
                option { 
                    background-color: $secondary-color;
                    font-weight: bolder; 
                }
            }
        }
    }  

    #card-body {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 280px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .card-list {
        .card-list-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .card-list-image {
                margin-right: 15px;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                width: 100px;
            }

            .card-list-item-title { 
                line-height: 20px; 
                word-break: break-word;
                width: 30vw;
            }

            .card-list-extra-information { font-size: 17px; }
        }
}

    #card-footer {
        background-color: black;
        border-radius: 0px 0px 19px 19px;
        border: 1px solid $primary-color;
        border-width: 0px 0px 10px 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (max-width: 767px) {
    #card {
        font-size: 13px;
        #card-search-input { 
            border-radius: 0; 
            padding: 5px;
        }

        #card-header-container {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 5px;
            #card-header { 
                margin-top: 10px;
                &::after { margin-top: unset; }
            }
        }

        .card-item {
            & div:nth-child(2) { margin-top: unset; }
            .card-extra-information { font-size: unset; }
            .card-game-title { 
                font-style: italic;
                width: 55vw;
            }
        }
    }  
}

@media (min-width: 2560px) {
    #card {
        #card-body {
            flex-direction: unset;
            height: 530px;
            padding-top: 15px;
        }

        .card-item {
            .card-game-title { line-height: unset; }
            .card-image-holder { 
                width: 200px; 
                .owned-game-cover {
                    width: 100px;
                }
            }
        }
    }
}