@import "./_variables";

#helpModal {
  .modal-content {
    line-height: 22px;
    font-size: 14px;
  }
}

#addGameModal {
  .modal-dialog,
  .modal-content {
    height: 50%;
  }
  input.form-check-input:checked {
    background-color: $dark;
  }
}

@media (max-width: 768px) {
  #addGameModal {
    .modal-dialog,
    .modal-content {
      height: 100%;
    }
  }
}
