$primary-color: #3500D4;
$secondary-color: #0C0C0C; 
$custom-border-box: 0px 21px 21px 0px;
$status-completed-color: rgb(91, 246, 74);
$status-completed-background: #2b9a0057;
$status-declined-color: rgb(245, 85, 85);
$status-declined-background: #9a000057;
$status-next-color: #ba00d4;
$status-next-background: #a400bb47;