@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

$primary-color: #3500D4;
$secondary-color: #0C0C0C; 
$custom-border-box: 0px 21px 21px 0px;
$status-completed-color: rgb(91, 246, 74);
$status-completed-background: #2b9a0057;
$status-declined-color: rgb(245, 85, 85);
$status-declined-background: #9a000057;
$status-next-color: #ba00d4;
$status-next-background: #a400bb47;

* {
    box-sizing: border-box;
}

@keyframes shine {
    100% {
        transform: rotateZ(60deg) translate(1em, -20em);
    }
}

a { 
    text-decoration: none;
    color: rgb(122, 105, 255);
    &:hover { text-decoration: underline; }
}

li { list-style-type: circle; }

html, body {
    width: 100%;
    margin: 0;
    font-family: 'Bungee Hairline', monospace;
    font-size: 22px;
    color: white;
    background-color: black;
}

body {
    height: 100vh;
}

button { cursor: pointer; }

.hidden { display: none; }

#notification {
    position: fixed;
    z-index: 99;
    top: 5%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-5%);
    box-shadow: 2px 5px white;
    padding: 5px 20px;
    background-color: $secondary-color;
    color: white;
    border: 1px solid white;
    border-radius: $custom-border-box;
}

[class*="game-status"] {
    padding: 0 5px;
}

.game-status-completed { 
    background-color: $status-completed-background;
    color: $status-completed-color;
}

.game-status-next { 
    color: $status-next-color;
    background-color: $status-next-background;
}

.game-status-declined { 
    background-color: $status-declined-background;
    color: $status-declined-color; 
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    section {
        &:nth-child(2) {
            width: 45vw;
            position: relative;
            z-index: 2;
        }
    }

    .avatar-container {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        width: 130px;
        height: 130px;
        border-radius: 9000px;
        border: 5px solid black;
        .avatar {
            background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f37c36a-d254-4e52-b427-08fc2280e223/dfh15lo-85d25daf-debb-4b7b-b63d-cdd58a0f8a8e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmMzdjMzZhLWQyNTQtNGU1Mi1iNDI3LTA4ZmMyMjgwZTIyM1wvZGZoMTVsby04NWQyNWRhZi1kZWJiLTRiN2ItYjYzZC1jZGQ1OGEwZjhhOGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.76Ad_cds7lAihIixqC-qdKPHY947iLuqbPLxEcUUQhY);
            background-color: $primary-color;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }


    .main-button {
        position: relative;
        margin-bottom: 20px;
        font-family: inherit;
        font-size: 20px;
        color: inherit;
        background-color: $primary-color;
        border-color:black;
        border-radius: 0px 21px 21px 21px;
        border-width: 3px 10px 10px 1px;
        padding: 0 100px 0 100px;
        width: 100%;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -50%;
            width: 60%;
            height: 50%;
            background-color: #0C0C0C;
            transform: rotate(45deg);
            transition: all ease 1.1s;
        }
        &:hover::before { left: 100%; }
    }


    .add-game-button-mobile { 
        display: none;
        margin-bottom: 5px;
        font-family: inherit;
        font-size: 20px;
        font-weight: bolder;
        background-color: white;
        color: black;
        border: 1px solid $primary-color; 
        border-color:black;
        border-radius: 0px 21px 21px 21px;
        border-width: 3px 10px 10px 1px;
        width: 100%;
    }

    .card {
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        border-radius: 0px 21px 21px 21px;

        .add-game-button {
            position: absolute;
            left: 100%;
            top: 50%;
            width: 50px;
            background: #FFFFFF;
            border: 2px solid $primary-color;
            border-radius: $custom-border-box;
            color: black;
            font-size: 40px;
            font-family: monospace;
            font-weight: lighter;
        }

        #card-search-input {
            display: block;
            margin: 0 auto;
            width: 90%;
            border: 0;
            border-bottom: 1px solid white;
            background-color: rgba(0,0,0,0); 
            color: inherit; 
            font-family: inherit;
            font-weight: bolder;
            margin-bottom: 15px;

            &:focus { outline: none !important; }
        }

        #card-header-container,
        .card-body,
        .card-footer {
            padding: 0 25px 15px 25px;
        }

        #card-header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            .card-header {
                font-weight: unset;
                margin-top: unset;
                margin-bottom: unset;
    
                &::after {
                    content: "";
                    margin-top: -15px;
                    display: block;
                    border-bottom: 0.3px solid white;
                    width: 35%;
                }
            }
            #sort-games-container {   
                font-size: 13px;
                font-weight: bold;
                #sort-games-selection {
                    background-image: none;
                    border: 0;
                    cursor: pointer;
                    outline: none;
                    background-color: transparent;
                    color: white;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    &:hover { text-decoration: underline; }
                    option { 
                        background-color: $secondary-color;
                        font-weight: bolder; 
                    }
                }
            }
        }  

        .card-body {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 280px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .card-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .card-image-holder {
                overflow: hidden;
                width: 100px;
            }

            .card-game-title { 
                line-height: 20px; 
                word-break: break-word;
                width: 30vw;
            }

            img {
                object-position: center;
                object-fit: contain;
            }

            .card-extra-information { font-size: 17px; }
        }

        .card-footer {
            background-color: black;
            border-radius: 0px 0px 19px 19px;
            border: 1px solid $primary-color;
            border-width: 0px 0px 10px 0px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    #modal-container { 
        z-index: 5;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        &::before {
            position: fixed;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
        }
        
        .submit-modal {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            width: 55vw;
            z-index: 5;

            .modal-body,
            .modal-header {
                background-color: $secondary-color;
            }

            .modal-header {
                text-align: center;
                padding: 0 150px 0 150px;
                font-weight: unset;
                border: 1px solid $primary-color;
                transform: matrix(0.89, 0, -0.50, 1, 0, 0);
            }

            .modal-body {
                padding: 25px 50px 0 50px;
                background: $secondary-color;
                border: 1px solid $primary-color;
                border-radius: $custom-border-box;

                .search-wrapper {
                    display: flex;
                    flex-direction: row;

                    .search-btn {
                        color: inherit;
                        font-family: inherit;
                        background-color: rgba(0,0,0,0);
                        border: 1px solid $primary-color;
                    }

                    input {
                        color: inherit;
                        font-family: inherit;
                        font-weight: bolder;
                        font-size: 17px;
                        background-color: rgba(0,0,0,0);
                        padding: 0 10px 0 10px;
                        border: 1px solid $primary-color;
                        width: 100%;

                        &:focus {   
                            outline: 0;
                            border: 1px solid #5f2aff;
                        }
                    }
                }

                #filter-games-btn {
                    color: inherit;
                    font-family: inherit;
                    background-color: rgba(0,0,0,0);
                    border: 1px solid $primary-color;

                    &:hover,
                    &.selected { 
                        background-color: white; 
                        color: black;
                        font-weight: bolder;
                    }
                }

                .modal-listed-games {
                    border: 1px solid $primary-color;
                    margin: 10px 0 10px 0;
                    width: 100%;

                    .game-box {
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        height: 480px;
                        overflow: auto;

                        .card-item {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 15px;
                
                            .card-image-holder {
                                overflow: hidden;
                                margin-right: 15px;;
                                width: 100px;
                            }
                
                            .card-game-title { 
                                line-height: 20px; 
                                word-break: break-word;
                                width: 30vw;
                            }
                
                            img {
                                object-position: center;
                                object-fit: contain;
                            }
                
                            .card-extra-information { font-size: 17px; }
                        }
                    }
                }
            }
            
            .modal-footer {
                text-align: center;
                margin-top: 5px;
            }

            #submit-game-button {
                &:disabled { 
                    opacity: 0.5; 
                    cursor: not-allowed;
                }
            }

            #submit-game-button,
            #close-modal-button {
                font-family: inherit;
                font-size: 17px;
                color: inherit;
                display: inline;
                background-color: $primary-color;
                border-width: 2px 7px 7px 1px;
                border-style: solid;
                border-color: #FFFFFF;
                border-radius: 0px 21px 21px 21px;
            }
        }
    }
}

@media (max-width: 768px) {
    * { font-weight: bold; }
    body { background-position: center; }
    #notification { width: 80%; }

    main {
        section {
            &:nth-child(2) { width: 90vw; }
        }
        button { padding: 10px 15px 10px 15px !important; }

        .add-game-button { display: none; }

        .add-game-button-mobile,
        .main-button { 
            font-size: 15px;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
        }

        .card {
            font-size: 13px;
            #card-search-input { 
                border-radius: 0; 
                padding: 5px;
            }
            #card-header-container {
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                gap: 5px;
                .card-header { 
                    margin-top: 10px;
                    &::after { margin-top: unset; }
                }
            }
            .card-item {
                & div:nth-child(2) { margin-top: unset; }
                .card-extra-information { font-size: unset; }
                .card-game-title { 
                    font-style: italic;
                    width: 55vw;
                }
            }
        }

        .submit-modal {
            width: 90%;
            .modal-body {
                .search-wrapper input { border-radius: 0; }
                #filter-games-btn { 
                    margin-top: 5px; 
                    width: 100%;
                }
            }
            .modal-header { padding: unset; }
            .modal-footer {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 2560px) {
    main {
        section:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 30vw;
        }

        .avatar-container {
            width: 200px;
            height: 200px;
        }

        .card {
            .card-body {
                flex-direction: unset;
                height: 530px;
                padding-top: 15px;
            }

            .card-item {
                .card-game-title { line-height: unset; }
                .card-image-holder { 
                    width: 200px; 
                    .owned-game-cover {
                        width: 100px;
                    }
                }
            }
        }

        .submit-modal {
            height: 100%;
            .modal-body { 
                height: 70%; 
                .modal-listed-games { 
                    height: 80%; 
                    .game-box { height: 100%; }
                }
            }
        }
    }
}