@import "../../styles/_variables";

.mobile {
  display: none;
}

.desktop {
  display: flex;
  align-items: center;
  gap: 10px;
}

#card {
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 0px 21px 21px 21px;

  #card-search-input {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font-family: inherit;
    font-weight: bolder;
    margin-bottom: 15px;

    &:focus {
      outline: none !important;
    }
  }

  #card-header-container,
  #card-body,
  #card-footer {
    padding: 0 25px 15px 25px;
  }

  #card-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 12px;
    #card-header {
      font-weight: unset;
      margin: 0;
    }

    #status-container {
      font-size: 13px;
      font-weight: bold;

      #status-selection {
        background-image: none;
        border: 0;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        color: white;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        &:hover {
          text-decoration: underline;
        }
        option {
          background-color: $secondary-color;
          font-weight: bolder;
        }
      }
    }
  }

  #card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .card-list {
    .card-refresh-items {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      background-color: $secondary-color;
    }
    .card-information {
      div {
        margin-block: 2px;
      }
      .link {
        max-width: 350px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        color: rgb(243, 243, 243);
      }
    }
    .card-list-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      gap: 20px;
      .card-list-image {
        background-size: cover;
        background-position: center;
        overflow: hidden;
        width: 200px;
        height: 100%;
      }

      .card-list-image-steam {
        margin-right: 15px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        width: 50px;
        height: 50px;
      }

      .card-list-extra-information {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        .username-link {
          vertical-align: bottom;
          max-width: 15vw;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
        }
      }
    }
  }

  #card-footer {
    background-color: black;
    border-radius: 0px 0px 19px 19px;
    border: 1px solid $primary-color;
    border-width: 0px 0px 10px 0px;
    padding-block: 15px;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
  #card {
    font-size: 15px;
    #card-search-input {
      border-radius: 0;
      padding: 5px;
    }

    #card-header-container {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      gap: 5px;
      #card-header {
        margin-top: 10px;
        &::after {
          margin-top: unset;
        }
      }
    }

    .card-list {
      .card-list-item {
        & div:nth-child(2) {
          margin-top: unset;
        }
        .card-list-extra-information {
          font-size: 13px;
          .username-link {
            max-width: 150px;
          }
        }
        .card-list-item-title {
          font-style: italic;
          width: 55vw;
        }
        .card-list-image {
          width: 100px;
        }
      }
      .card-information {
        .link {
          max-width: 120px;
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  #card {
    #card-body {
      flex-direction: unset;
      height: 530px;
      padding-top: 15px;
    }

    .card-list-item {
      .card-list-item-title {
        line-height: unset;
      }
      .card-image-holder {
        width: 200px;
        .owned-game-cover {
          width: 100px;
        }
      }
    }
  }
}
